* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Tennis_Pointer.png) , pointer; */
}

body {
  background-color: #00b6a5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;


}

.round {
  transform: translate(50vw, 30vh);
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, rgb(243, 223, 5), rgb(146, 251, 100));
  border-radius: 50%;

  background-image: url("img/round.png");
  background-size: cover;

  cursor:  url(https://cdn.custom-cursor.com/db/cursor/32/Tennis_Cursor.png), auto;

  transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1), translate(50vw, 30vh);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7); 
  }
  50% {
    transform: scale(1.5), translate(50vw, 30vh);
    box-shadow: 0 0 10px 10px rgba(81, 48, 180, 0); /
  }
  100% {
    transform: scale(1), translate(50vw, 30vh); 
    box-shadow: 0 0 0 0 rgba(213, 103, 103, 0); 
  }
}

.history {
  padding: 45px;
  opacity: 0;
  transition: 0.5s;
  transform: translate(100%, 0);

  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: 100vh;

  background-color: rgb(0, 198, 217);
  border-left: 2px solid rgb(241, 241, 241);
}

.history.show {
  opacity: 1;
  transform: translate(0, 0);
}

.history-list {
  margin-top: 15px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.list-item {
  padding: 5px 0 5px 10px;
  color: rgb(0, 0, 0);

  text-align: center;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: #90fdf2 2px solid;
  border-radius: 10px;
  background-color: rgb(70, 226, 106);
  border: #90fdf2 2px solid;
}

.current-result {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
}

h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 100px;

  text-shadow: 0 0 10px #fff;
}

h2 {
  text-align: center;
}

.best-result {
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 60px;

  background: aquamarine;
  border-radius: 50%;
  padding: 30px;
}

.best-result.show {
  display: block;
}

/* .clear-history {
  position: absolute;
  bottom: 100px;
  transform: translate(50%, 0);
} */

.new-record-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

@keyframes showNewRecord {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  75% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
